schemas/ley_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Esquema XSD para Normas Legales Chilenas
  Versión: 1.1
  Proyecto: LeyChile ePub Generator

  Este esquema define la estructura estándar para representar leyes, decretos,
  códigos, NCGs, instructivos y otras normas legales chilenas en formato XML.

  Cambios v1.1:
  - Encabezado estructurado con <vistos>, <considerandos> (punto 4 feedback)
  - Nuevo elemento <conceptos> en metadatos (punto 3 feedback)
  - Nuevo elemento <disposiciones_finales> para SUPERIR (punto 9 feedback)
  - RefType enriquecido con cuerpo, libro, inciso (punto 8 feedback)
  - LeyRefType estructurado con atributos tipo/numero (punto 8 feedback)
  - fecha_estado en atributos raíz (punto 2 feedback)
  - Artículos siempre con contenido estructurado (punto 7 feedback)
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://leychile.cl/schema/ley/v1"
           xmlns:ley="https://leychile.cl/schema/ley/v1"
           elementFormDefault="qualified">

  <!-- ═══════════════════════════════════════════════════════════════════════
       ELEMENTO RAÍZ
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="ley" type="ley:LeyType">
    <xs:annotation>
      <xs:documentation>
        Elemento raíz que representa una norma legal chilena completa.
        Se usa "ley" como contenedor genérico para todo tipo de norma
        (leyes, decretos, códigos, NCG, instructivos, etc.).
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       TIPOS SIMPLES (ENUMERACIONES)
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:simpleType name="TipoNormaType">
    <xs:annotation>
      <xs:documentation>Tipos de normas legales chilenas reconocidos.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ley"/>
      <xs:enumeration value="Decreto"/>
      <xs:enumeration value="Decreto Ley"/>
      <xs:enumeration value="Decreto con Fuerza de Ley"/>
      <xs:enumeration value="Código"/>
      <xs:enumeration value="Reglamento"/>
      <xs:enumeration value="Resolución"/>
      <xs:enumeration value="Auto Acordado"/>
      <xs:enumeration value="Tratado Internacional"/>
      <xs:enumeration value="Constitución"/>
      <xs:enumeration value="Norma de Carácter General"/>
      <xs:enumeration value="Instructivo"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EstadoType">
    <xs:annotation>
      <xs:documentation>Estado de vigencia de la norma.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="vigente">
        <xs:annotation>
          <xs:documentation>Norma completamente vigente.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="derogada">
        <xs:annotation>
          <xs:documentation>Norma completamente derogada.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="parcial">
        <xs:annotation>
          <xs:documentation>Norma parcialmente derogada o modificada.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TipoSeccionType">
    <xs:annotation>
      <xs:documentation>Tipos de divisiones/secciones en el articulado.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Libro"/>
      <xs:enumeration value="Título"/>
      <xs:enumeration value="Capítulo"/>
      <xs:enumeration value="Párrafo"/>
      <xs:enumeration value="Sección"/>
      <xs:enumeration value="Enumeración"/>
      <xs:enumeration value="Artículo"/>
      <xs:enumeration value="Doble Articulado"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IdiomaType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z]{2}(-[A-Z]{2})?"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ═══════════════════════════════════════════════════════════════════════
       TIPO PRINCIPAL: LEY
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="LeyType">
    <xs:sequence>
      <xs:element name="metadatos" type="ley:MetadatosType"/>
      <xs:element name="encabezado" type="ley:EncabezadoType" minOccurs="0"/>
      <xs:element name="contenido" type="ley:ContenidoType"/>
      <xs:element name="promulgacion" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Texto de promulgación para leyes de la BCN.
            Para normas SUPERIR, usar disposiciones_finales en su lugar.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disposiciones_finales" type="ley:DisposicionesFinalesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Cierre del documento normativo (SUPERIR): notificación, vigencia,
            publicación, distribución. Reemplaza a promulgacion para NCG/Instructivos.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="anexos" type="ley:AnexosType" minOccurs="0"/>
    </xs:sequence>

    <!-- Atributos obligatorios -->
    <xs:attribute name="version" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Versión del esquema XML (ej: "1.0", "1.1")</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="idioma" type="ley:IdiomaType" use="required">
      <xs:annotation>
        <xs:documentation>Código de idioma ISO 639-1 (ej: "es-CL")</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tipo" type="ley:TipoNormaType" use="required"/>
    <xs:attribute name="numero" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Número de la norma (ej: "19496", "PENAL", "100")</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="estado" type="ley:EstadoType" use="required"/>

    <!-- Atributos opcionales -->
    <xs:attribute name="id_norma" type="xs:string">
      <xs:annotation>
        <xs:documentation>ID único en la BCN o sistema de origen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fecha_version" type="xs:date"/>
    <xs:attribute name="fecha_promulgacion" type="xs:date"/>
    <xs:attribute name="fecha_publicacion" type="xs:date"/>
    <xs:attribute name="fecha_estado" type="xs:date">
      <xs:annotation>
        <xs:documentation>
          Fecha del último cambio de estado (vigente/derogada/parcial).
          Útil para trazabilidad de vigencias.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="generado" type="xs:dateTime"/>
    <xs:attribute name="fuente" type="xs:string"/>
    <xs:attribute name="url_original" type="xs:anyURI"/>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════════
       ENCABEZADO ESTRUCTURADO
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="EncabezadoType">
    <xs:annotation>
      <xs:documentation>
        Encabezado del documento normativo. Para normas SUPERIR se estructura
        en vistos y considerandos; para leyes BCN puede contener solo texto.
        Permite queries como "dame el considerando 3" o "qué leyes se citan en VISTOS".
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="texto" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Texto plano del encabezado (usado para leyes BCN donde no se
            estructura VISTOS/CONSIDERANDO separadamente).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vistos" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Sección VISTOS: facultades legales y antecedentes que
            fundamentan la dictación de la norma.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="considerandos" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Sección CONSIDERANDO: razones de hecho y derecho que
            motivan la dictación de la norma. Numerados (1°, 2°, etc.).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="derogado" type="xs:boolean"/>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════════
       DISPOSICIONES FINALES (CIERRE PARA NORMAS SUPERIR)
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="DisposicionesFinalesType">
    <xs:annotation>
      <xs:documentation>
        Disposiciones finales del documento normativo (reemplaza "promulgacion"
        para NCG e Instructivos SUPERIR). Contiene: notificación, vigencia,
        publicación, publicidad, distribución y archivado.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="texto" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Texto completo de las disposiciones finales.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════════
       METADATOS
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="MetadatosType">
    <xs:sequence>
      <xs:element name="titulo" type="xs:string">
        <xs:annotation>
          <xs:documentation>Título oficial completo de la norma.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identificacion" type="ley:IdentificacionType"/>
      <xs:element name="organismos" type="ley:OrganismosType" minOccurs="0"/>
      <xs:element name="materias" type="ley:MateriasType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Materias temáticas de la norma (ej: "Prelación de créditos",
            "Repartos de fondos", "Liquidación"). Solo temas, no entidades.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="conceptos" type="ley:ConceptosType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Conceptos, entidades e instituciones mencionados en la norma
            (ej: "Síndicos", "Acreedores valistas", "Liquidadores").
            Separados de materias temáticas para facilitar búsquedas.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nombres_comunes" type="ley:NombresComunesType" minOccurs="0"/>
      <xs:element name="fechas" type="ley:FechasType" minOccurs="0"/>
      <xs:element name="fuente" type="xs:string" minOccurs="0"/>
      <xs:element name="numero_fuente" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Número de la resolución exenta que aprueba la norma.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="leyes_referenciadas" type="ley:LeyesReferenciadasType" minOccurs="0"/>
      <xs:element name="tratado" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="pais" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="es_tratado" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IdentificacionType">
    <xs:sequence>
      <xs:element name="tipo" type="ley:TipoNormaType"/>
      <xs:element name="numero" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OrganismosType">
    <xs:sequence>
      <xs:element name="organismo" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MateriasType">
    <xs:sequence>
      <xs:element name="materia" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConceptosType">
    <xs:annotation>
      <xs:documentation>
        Lista de conceptos, entidades e instituciones relevantes.
        Separados de materias temáticas para taxonomía más precisa.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="concepto" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NombresComunesType">
    <xs:sequence>
      <xs:element name="nombre" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FechasType">
    <xs:sequence>
      <xs:element name="promulgacion" type="xs:date" minOccurs="0"/>
      <xs:element name="publicacion" type="xs:date" minOccurs="0"/>
      <xs:element name="version" type="xs:date" minOccurs="0"/>
      <xs:element name="derogacion" type="xs:date" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LeyesReferenciadasType">
    <xs:annotation>
      <xs:documentation>
        Lista de leyes, decretos y normas referenciadas en el texto.
        Extraídas de las secciones VISTOS y CONSIDERANDO.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ley_ref" type="ley:LeyRefType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LeyRefType">
    <xs:annotation>
      <xs:documentation>
        Referencia estructurada a una norma. El texto del elemento contiene
        la referencia legible (ej: "Ley 20.720"). Los atributos opcionales
        permiten búsquedas estructuradas.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tipo" type="xs:string">
          <xs:annotation>
            <xs:documentation>Tipo de norma: Ley, DFL, D.S., NCG, etc.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="numero" type="xs:string">
          <xs:annotation>
            <xs:documentation>Número de la norma referenciada.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════════
       CONTENIDO (ESTRUCTURA DEL ARTICULADO)
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="ContenidoType">
    <xs:annotation>
      <xs:documentation>
        Contenedor principal del articulado. Puede contener directamente
        libros, títulos, capítulos, párrafos, secciones o artículos.
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="libro" type="ley:LibroType"/>
      <xs:element name="titulo" type="ley:TituloType"/>
      <xs:element name="capitulo" type="ley:CapituloType"/>
      <xs:element name="parrafo" type="ley:ParrafoEstructuralType"/>
      <xs:element name="seccion" type="ley:SeccionType"/>
      <xs:element name="articulo" type="ley:ArticuloType"/>
    </xs:choice>
    <xs:attribute name="total_articulos" type="xs:integer"/>
    <xs:attribute name="total_libros" type="xs:integer"/>
    <xs:attribute name="total_titulos" type="xs:integer"/>
    <xs:attribute name="total_capitulos" type="xs:integer"/>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════════
       DIVISIONES ESTRUCTURALES
       ═══════════════════════════════════════════════════════════════════════ -->

  <!-- Atributos comunes para divisiones -->
  <xs:attributeGroup name="DivisionAttrs">
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="tipo_original" type="xs:string"/>
    <xs:attribute name="numero" type="xs:string"/>
    <xs:attribute name="fecha_modificacion" type="xs:date"/>
  </xs:attributeGroup>

  <!-- Elementos comunes para divisiones -->
  <xs:group name="DivisionElements">
    <xs:sequence>
      <xs:element name="titulo_seccion" type="xs:string" minOccurs="0"/>
      <xs:element name="contexto" type="xs:string" minOccurs="0"/>
      <xs:element name="texto" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:group>

  <!-- LIBRO -->
  <xs:complexType name="LibroType">
    <xs:annotation>
      <xs:documentation>
        División mayor, usada principalmente en códigos extensos.
        Ejemplo: "LIBRO PRIMERO DE LOS COMERCIANTES"
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="ley:DivisionElements"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="titulo" type="ley:TituloType"/>
        <xs:element name="capitulo" type="ley:CapituloType"/>
        <xs:element name="parrafo" type="ley:ParrafoEstructuralType"/>
        <xs:element name="seccion" type="ley:SeccionType"/>
        <xs:element name="articulo" type="ley:ArticuloType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="ley:DivisionAttrs"/>
  </xs:complexType>

  <!-- TÍTULO -->
  <xs:complexType name="TituloType">
    <xs:annotation>
      <xs:documentation>
        División principal del articulado.
        Ejemplo: "TÍTULO I NORMAS GENERALES"
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="ley:DivisionElements"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="capitulo" type="ley:CapituloType"/>
        <xs:element name="parrafo" type="ley:ParrafoEstructuralType"/>
        <xs:element name="seccion" type="ley:SeccionType"/>
        <xs:element name="articulo" type="ley:ArticuloType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="ley:DivisionAttrs"/>
  </xs:complexType>

  <!-- CAPÍTULO -->
  <xs:complexType name="CapituloType">
    <xs:annotation>
      <xs:documentation>
        Subdivisión de títulos.
        Ejemplo: "Capítulo I BASES DE LA INSTITUCIONALIDAD"
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="ley:DivisionElements"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="parrafo" type="ley:ParrafoEstructuralType"/>
        <xs:element name="seccion" type="ley:SeccionType"/>
        <xs:element name="articulo" type="ley:ArticuloType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="ley:DivisionAttrs"/>
  </xs:complexType>

  <!-- PÁRRAFO (estructural) -->
  <xs:complexType name="ParrafoEstructuralType">
    <xs:annotation>
      <xs:documentation>
        División menor dentro de capítulos/títulos.
        Ejemplo: "Párrafo 1º Los derechos y deberes del consumidor"
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="ley:DivisionElements"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="seccion" type="ley:SeccionType"/>
        <xs:element name="articulo" type="ley:ArticuloType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="ley:DivisionAttrs"/>
  </xs:complexType>

  <!-- SECCIÓN (§) -->
  <xs:complexType name="SeccionType">
    <xs:annotation>
      <xs:documentation>
        Sección enumerada, típicamente con §.
        Ejemplo: "§ 1. De la ley"
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="ley:DivisionElements"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="articulo" type="ley:ArticuloType"/>
        <xs:element name="seccion" type="ley:SeccionType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="ley:DivisionAttrs"/>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════════
       ARTÍCULOS
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="ArticuloType">
    <xs:annotation>
      <xs:documentation>
        Unidad fundamental del articulado.
        Siempre usa contenido estructurado con parrafos e incisos.
        El id es un contador interno secuencial; numero es el número
        jurídico del artículo (arábigo o romano, con posibles sufijos).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="titulo_seccion" type="xs:string" minOccurs="0"/>
      <xs:element name="contexto" type="xs:string" minOccurs="0"/>
      <xs:choice>
        <xs:element name="texto" type="xs:string"/>
        <xs:element name="contenido" type="ley:ContenidoArticuloType"/>
      </xs:choice>
      <xs:element name="referencias" type="ley:ReferenciasType" minOccurs="0"/>
      <!-- Para doble articulado (artículos dentro de artículos) -->
      <xs:element name="seccion" type="ley:SeccionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          ID interno secuencial, único dentro del documento.
          No confundir con "numero" que es el número jurídico.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tipo_original" type="xs:string"/>
    <xs:attribute name="numero" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Número jurídico del artículo. Puede incluir sufijos como "BIS", "TER".
          Ejemplos: "1", "3 BIS", "10 (DEL ART. 2)", "transitorio"
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fecha_modificacion" type="xs:date"/>
  </xs:complexType>

  <!-- Contenido estructurado de artículos -->
  <xs:complexType name="ContenidoArticuloType">
    <xs:annotation>
      <xs:documentation>
        Contenido estructurado de un artículo, con párrafos e incisos.
        Se prefiere siempre este formato sobre texto plano para
        permitir referenciar "inciso 2" o "párrafo 3" con precisión.
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="parrafo" type="xs:string">
        <xs:annotation>
          <xs:documentation>Párrafo de texto dentro del artículo.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inciso" type="ley:IncisoType">
        <xs:annotation>
          <xs:documentation>Inciso numerado dentro del artículo.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <!-- Inciso -->
  <xs:complexType name="IncisoType">
    <xs:annotation>
      <xs:documentation>
        Inciso numerado dentro de un artículo.
        Ejemplo: "1) Los actos jurídicos que..."
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="numero" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Número del inciso (ej: "1", "2", "a", "b")</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════════
       REFERENCIAS
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="ReferenciasType">
    <xs:annotation>
      <xs:documentation>
        Lista de referencias a otros artículos o normas mencionados en el texto.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ref" type="ley:RefType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RefType">
    <xs:annotation>
      <xs:documentation>
        Referencia estructurada a un artículo específico de una norma.
        Atributos enriquecidos para permitir queries precisas.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="articulo" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Número del artículo referenciado.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="norma" type="xs:string">
      <xs:annotation>
        <xs:documentation>ID o número de otra norma referenciada.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cuerpo" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Cuerpo legal referenciado (ej: "Código de Comercio", "Ley 20.720").
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="libro" type="xs:string">
      <xs:annotation>
        <xs:documentation>Libro del cuerpo legal (ej: "IV").</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="inciso" type="xs:string">
      <xs:annotation>
        <xs:documentation>Inciso específico (ej: "final", "2", "primero").</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════════
       ANEXOS
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="AnexosType">
    <xs:annotation>
      <xs:documentation>Contenedor de anexos de la norma.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="anexo" type="ley:AnexoType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AnexoType">
    <xs:annotation>
      <xs:documentation>Un anexo individual de la norma.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="titulo" type="xs:string" minOccurs="0"/>
      <xs:element name="materias" type="ley:MateriasType" minOccurs="0"/>
      <xs:element name="texto" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="numero" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="estado" type="xs:string"/>
  </xs:complexType>

</xs:schema>
